In [ ]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("products-0-200000(in).csv", usecols=["id"])

# Check shape and first few rows
print(df.shape)
df.head()

(200000, 1)

          id
0    1391347
1   74897599
2  154155413
3  253117062
4  130978358

In [13]:
print("Original total rows:", len(df))
print("Blank/Null IDs:", df['id'].isna().sum())
print("Duplicate IDs:", df['id'].duplicated().sum())

Original total rows: 200000
Blank/Null IDs: 0
Duplicate IDs: 0

In [14]:
ids = df['id'].dropna()
ids = ids.astype('int64')
ids = ids.astype(str)

In [6]:
df['id'].head(200000).to_csv("product_ids.txt", index=False, header=False)

In [24]:
before = len(ids)
ids = ids.drop_duplicates()
after = len(ids)
print(f"Removed {before - after} duplicate IDs. Remaining: {after}")

Removed 0 duplicate IDs. Remaining: 200000

In [17]:
ids.to_csv("product_ids.txt", index=False, header=False)
print("Saved all IDs to product_ids.txt")

Saved all IDs to product_ids.txt

In [23]:
parts = np.array_split(ids, 4)
names = ["ids_A1.txt", "ids_A2.txt", "ids_B1.txt", "ids_B2.txt"]

for name, part in zip(names, parts):
    part.to_csv(name, index=False, header=False)
    print(f"Saved {name} with {len(part)} IDs")

print("All files ready for A1, A2, B1, B2 workers.")

Saved ids_A1.txt with 50000 IDs
Saved ids_A2.txt with 50000 IDs
Saved ids_B1.txt with 50000 IDs
Saved ids_B2.txt with 50000 IDs
All files ready for A1, A2, B1, B2 workers.